[Unit]
Description=Pip-boy serial to keypress service
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u main.py
WorkingDirectory=/home/pi/Desktop/pip-boy-2000-mk-I/python/pip-boy.py
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
